html, body {
  height: 100%;
  padding-right: 0 !important;
  overflow: visible;
}

.masthead{
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px 2px #ddd;
  position: relative;
}

.subheader {
  background: #f3f3f3;
  border-bottom: 1px solid #DDD;
  min-height: calc(100vh - 40px);
}

.widget-title {
  max-width: 280px;
  color: #3c6eb4;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .widget-title {
    max-width: 250px;
  }
}

@media screen and (max-width: 992px) {
  .widget-title {
    max-width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .widget-title {
    max-width: 290px;
    width: 290px !important;
  }
}

@media screen and (max-width: 375px) {
  .widget-title {
    max-width: 300px;
  }
}


.appEntryContainer {
  height: 100vh !important;
  min-height: 100vh;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #f3f3f3;
  flex-direction: column  ;
}

.Error {
  min-height: 100vh;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #f3f3f3;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.Help {
  min-height: 100vh;
  width: 100% !important;
  background: #f3f3f3;
}

.Error h1 {
  font-size: 5rem;
}

.non-packager {
  margin-top: 20vh;
}

.well-error {
  width: 100%;
  background-color: #fff;
  font-family: monospace;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow-x: auto;
}


.appEntryContainer img {
  height: 5em;
}

.card {
  border: none;
  background: none;
  display: inline-block;
  width: 100%;
}

.masonry .card {
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 375px) {
  .appEntryContainer img {
    width: 25em;
  }
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 2;
  }
}

.masthead a {
  font-size: 1.5em;
  color: #3c6eb4 !important;
  cursor: pointer;
}

.masthead a:hover {
  color: #294b7b !important;
}

.masthead .search {
  width: 280px;
}

.pl-as-switch {
  padding-left: 2.25rem;
}

.modal {
  padding-right: 0 !important;
  pointer-events: none !important;
  top: 50px;
}

.modal-dialog-slideout {
  max-height: calc(100% - 50px);
  !height: 100%;
  margin: 0 0 0 auto;
  background: #fff;
  width: 350px;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(100%,0)scale(1);
  transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  display: flex;
  align-items: stretch;
  -webkit-box-align: stretch;
  !height: 100%;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: auto !important;
}
.modal-dialog-slideout .modal-content{
  border-radius: 0;
}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.modal-dialog-slideout .modal-header h5 {

}

.modal-open {
  overflow: visible !important;
  padding-right: 0 !important;
}

.modal-backdrop {
  display: none !important;
}

.modal-header a {
  font-size: 0.75rem !important;
  padding-top: 3px;
}

.pointer {
  cursor: pointer;
}

.text-muted-more {
  color: #9facb8 !important;
}

.proposed-blocker {

}

.proposed-blocker .media i.fa {
  color: #ffc107;
}

.proposed-blocker a {
}

.proposed-blocker .comments {
}

.proposed-blocker small {
}

#network-canvas {
  height: 81vh;
  width: 100%;
  cursor: grab;
}

#network-canvas:active {
  cursor: grabbing;
}

#network-canvas .vis-network:focus{
  outline: none;
}

.vis-button {
  filter: grayscale(100%);
}

.tooltip .tooltip-inner {
  font-family: monospace;
  text-align: left !important;
  max-width: 350px;
}

.halp-me {
  margin-top: 2.5rem;
  font-size: 2.5rem;
}

svg:not(:root) {
  width: auto;
  height: 100%;
}

.timeline {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
}

.timeline td {
  padding: 0;
  font-size: 0.8em !important;
  width: 150;
  text-align: center;
  vertical-align: top;
}
