html, body {
  height: 100%;
}

.masthead{
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px 2px #ddd;
  position: relative;
}

.subheader {
  background: #f3f3f3;
  border-bottom: 1px solid #DDD;
}

.widget-title {
  max-width: 280px;
}

@media screen and (max-width: 1200px) {
  .widget-title {
    max-width: 250px;
  }
}

@media screen and (max-width: 992px) {
  .widget-title {
    max-width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .widget-title {
    max-width: 290px;
    width: 290px !important;
  }
}

@media screen and (max-width: 375px) {
  .widget-title {
    max-width: 300px;
  }
}


.appEntryContainer {
  height: 100vh !important;
  min-height: 100vh;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #f3f3f3;
  flex-direction: column  ;
}

.appEntryContainer img {
  width: 35em;
}

.card {
  border: none;
  background: none;
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .appEntryContainer img {
    width: 25em;
  }
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 2;
  }
}

.masthead a {
  font-size: 1.5em;
}
